<!DOCTYPE html>
<html>
<head>
  <title>Messegeboard</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <header style="padding:20px; text-align:center; background-color:#666; margin:0 auto 20px">  
    <h1 style="color:#fff;">Messegeboard</h1>
    </header>
    <div class="container">
      
      <% if notice %>
        <div class="alert alert-info">
          <%= notice %>
        </div>
      <% end %>
      
    <%= yield %>
    
    </div>
    <footer style="padding:20px; text-align:center;">
      <h4>メッセージボード課題 © 2015 KOH TOMODA.</h4>
    </footer>
</body>
</html>